@tailwind base;
@tailwind components;
@tailwind utilities;


#hero_container {
  background: radial-gradient(59.82% 121.73% at -9.66% 130.31%, #00e9ea 0%, #1f80f0 52.08%, #005bc4 100%);
}

#contact_us_container {
  background: radial-gradient(24.45% 88.58% at 23.57% 2%, #00e9ea 0%, #1f80f0 52.08%, #005bc4 100%);
}

.contact-us-bg-clip {
  clip-path: polygon(0 0, 100% 49%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 49%, 100% 100%, 0% 100%);
  ;
}

.hero-bg-clip {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}

.bg-clip-hero-image {
  clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(190deg, #1f80f0 10.05%, rgba(31, 128, 240, 0) 30.39%);
}

.navbar {
  box-sizing: drop-shadow(0px -5px 28px rgba(22, 67, 119, .37))
}

@layer utilities {
  .container {
    @apply max-w-[480px] md:max-w-[1200px] w-full mx-auto px-8 lg:px-4
  }
}